<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tours</title>
</head>

<body>

    <h1>Users</h1>

    <ul>
        <% for (let user of users) { %>
            <li>
                User username: <%= user.username %>, name: <%= user.name %>, email: <%= user.email %>
            </li>
            <% } %>
    </ul>


    <h1>Tours</h1>

    <ul>
        <% for (let tour of tours) { %>
            <li>
                Tour id: <%= tour.id %>
            </li>
            <% } %>
    </ul>

</body>

</html>